{% extends 'base.html' %}
    {% block nav %}
    
<form>

    <div class="uk-margin">
        <div class="uk-inline">
            <a href="#" class="uk-form-icon" uk-icon="icon: user"></a>
            <input class="uk-input" type="text">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <a href="#" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></a>
            <input class="uk-input" type="text">
        </div>
    </div>

</form>
    {% endblock %}