{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <form method="POST" action="/">
        <!-- THIS IS FOR CSRF, TOKEN IN ENV -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today!</legend>
                <!-- User Input U_NAME-->
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {{ form.username(class="form-control from-control-lg") }}
                    </div>
                    <!-- USER INPUT EMAIL-->
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control from-control-lg") }}
                    </div>
                    <!-- USER INPUT PASSWORD-->
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control from-control-lg") }}
                    </div>
                    <!-- USER CONFIRMS PASSWORD-->
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {{ form.confirm_password(class="form-control from-control-lg") }}
                    </div>
            </fieldset>
            <!-- SUBMIT BUTTON -->
            <div class="form-group"> #TODO
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
        <!-- REDIRECT IF TRUE -->
        <div class="border-top pt-4">
            <small class="text-muted">
                Are You Already Registered? <a class="ml-2" href="{{ url_for('login') }}">Sign In Here</a>
            </small>
        </div>

    </div>

{% endblock %}